/* line 1, ../sass/demo1.scss */
body {
  background-color: chartreuse;
  margin: 0 0;
}
/* line 4, ../sass/demo1.scss */
body header {
  font-size: 14px;
}
/* line 7, ../sass/demo1.scss */
body footer {
  color: white;
}
